{% extends 'challenges/base.html' %}
{% load static %}
{% block head %}
   <title>Challenge_Detail</title>
{% endblock %}


{% block content %}

    <div class="all-content container mb-5 mt-5" style="background-color: #fafafa" >
        <div class="row" >
            <img  class="img-fluid center ml-auto mr-auto mt-3" src="{{ challenges.challenge_image.url }}" alt="not available"/>
        </div>
        <div class="row mt-5 " style="text-justify: auto">
            <div class="col-md-12 col-xs-2">
            <h2>{{ challenges.challenge_title }}</h2>
            <p class="text-justify">{{ challenges.challenge_description }}</p>
            <h3> No.of Submissions {{ submission_count }}</h3>

                {% if challenges.created_by == request.user %}
                    <a href="{% url 'view-submissions' challenges.id %}"
                        class="btn btn-primary mt-3 mb-5"> View Submissions </a>

                    <a href="{% url 'challenge-update' challenges.id %}"
                        class="btn btn-dark mt-3 mb-5"> Update </a>



                {% else %}
                    <a href="{% url 'challenge-submission' challenges.id %}" class="btn btn-success mt-3 mb-5">Apply </a>
                {% endif %}

            </div>

            </div>
    </div>
{% endblock %}
